@import 'variables';

$Input_padding: $View_padding !default;
$Input_padding: $View_padding !default;
$Input_height: 42px !default;

.base {
  @include inputStyle();

  &--block {
    width: 100%;
  }
}

.input {
  flex-grow: 1;
}
