@import 'variables';

@keyframes bump {
  0% {
    transform: translateY(50%) scale(0.1);
  }
  70% {
    transform: translateY(-20%) scale(1.4);
  }
  90% {
    transform: translateY(0%) scale(0.95);
  }
  100% {
    transform: translateY(0) scale(1);
  }
}

@keyframes nope {
  0% {
    left: 0;
  }
  20% {
    left: 1%;
  }
  40% {
    left: -1%;
  }
  60% {
    left: 1%;
  }
  80% {
    left: -1%;
  }
  100% {
    left: 0;
  }
}

@keyframes yes {
  0% {
    top: 0;
  }
  20% {
    top: 2%;
  }
  40% {
    top: -2%;
  }
  60% {
    top: 2%;
  }
  80% {
    top: -2%;
  }
  100% {
    top: 0;
  }
}

@keyframes almostBump {
  0% {
    transform: translateY(50%) scale(0.1) rotate(0deg);
  }

  25% {
    transform: translateY(20%) scale(0.8) rotate(5deg);
  }

  50% {
    transform: scale(1.2) rotate(-7deg);
  }

  75% {
    transform: scale(1.1) rotate(3deg);
  }
  100% {
    transform: translateY(0) scale(1) rotate(0deg);
  }
}

@keyframes bumpWow {
  0% {
    transform: scale(0.3);
  }
  40% {
    transform: scale(1.5);
  }
  50% {
    transform: scale(1.3);
  }
  60% {
    transform: scale(1.4);
  }
  70% {
    transform: scale(1.1);
  }
  80% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes disappear {
  0% {
    transform: scale(1);
    opacity: 1;
    font-variation-settings: 'BVEL' 50, 'SHDW' 50;
  }

  50% {
    transform: scale(1.1);
    opacity: 1;
    font-variation-settings: 'BVEL' 80, 'SHDW' 100;
  }

  100% {
    transform: scale(0.2);
    opacity: 0;
    font-variation-settings: 'BVEL' 0, 'SHDW' 0;
  }
}

@keyframes inflate {
  0% {
    font-variation-settings: 'BVEL' 0, 'SHDW' 100;
  }

  50% {
    font-variation-settings: 'BVEL' 80, 'SHDW' 0;
  }

  100% {
    font-variation-settings: 'BVEL' 50, 'SHDW' 50;
  }
}

.reaction {
  position: relative;
  font-size: min(5vh, 5vw);
  font-weight: bold;
  font-family: 'Rocher';
  font-variation-settings: 'BVEL' 50, 'SHDW' 50;
}

.reaction--different {
  animation: inflate 0.6s, bump 0.3s, nope 0.3s ease 1 0.2s;
  font-palette: --Rocher--danger;
}

.reaction--subset {
  animation: inflate 0.6s, almostBump 0.5s linear;
  font-palette: --Rocher--warning;
}

.reaction--equal {
  animation: inflate 0.6s, bump 0.3s, yes 0.5s ease 1 0.2s;
  font-palette: --Rocher--success;
}

.reaction--superset {
  animation: inflate 2s, bumpWow 0.6s ease-out;
  font-palette: --Rocher--primary;
}

.reaction--hidden {
  animation: disappear 0.3s;
  opacity: 0;
}
