@import 'tokens';

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.base {
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1em;
  vertical-align: bottom;
  vertical-align: -0.13em;
  flex-shrink: 0;

  * {
    fill: currentColor !important;
    opacity: 1;
    transition: fill $transition_medium, opacity $transition_medium;
  }

  &--spin {
    animation: spin 2s infinite linear;
  }
}

.base--hover {
  &:hover {
    * {
      opacity: 0.8 !important;
    }
  }

  &:focus,
  &:active {
    svg * {
      opacity: 0.5 !important;
    }
  }
}

.icon--loading {
  animation: spin 2s infinite linear;
}

// Intents

.base--neutral {
  color: $color-neutral-normal;
}
.base--primary {
  color: $color-primary-normal;
}
.base--danger {
  color: $color-danger-normal;
}
.base--warning {
  color: $color-warning-normal;
}
.base--success {
  color: $color-success-normal;
}
.base--default {
  color: $color-white;
}
.base--subtle {
  color: $color-neutral-lighter;
}
.base--contrast {
  color: $color-neutral-darker;
}
.base--inherit {
  color: currentColor;
}
