@import 'variables';

$View_SettingsChordDisplay_padding: $View_padding !default;

.base {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.container {
  @include customScrollBar();
  flex-grow: 1;
  padding: $View_SettingsChordDisplay_padding;
  overflow-y: auto;
  width: 100%;
}

.group {
  max-width: 480px;
  margin: auto;
  &--disabled {
    opacity: 0.5;
  }
}

.chordList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 3px;
}

.chord {
  background: $color-neutral-dark;
  padding: 2px 4px;
  border-radius: 2px;
}
