@import 'tokens';

.chordList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 3px;
}

.chord {
  background: $color-neutral-dark;
  padding: 2px 4px;
  border-radius: 2px;
}
