@import 'tokens';

.keyboard {
  vertical-align: bottom;
  width: 100%;
  height: 100%;
  user-select: none;
  will-change: contents;
}

.pianoKey {
  stroke: $color-neutral-darker;
  transition: fill ease var(--PianoKeyboard-fadeOut_duration, 0s);
}

.pianoInfo {
  font-size: 10px;
  font-weight: bold;
}

.pianoKeyName {
  font-size: 12px;
}

.pianoLabel {
  font-size: 12px;
  fill: currentColor;
  opacity: 0;
  transform: translateY(18px);
  transition:
    transform ease var(--PianoKeyboard-fadeOut_duration, 0s),
    opacity ease var(--PianoKeyboard-fadeOut_duration, 0s);
}

.note.black {
  .pianoKey {
    fill: var(--PianoKeyboard-black_background, #000);
  }

  .pianoKeyName {
    fill: var(--PianoKeyboard-black_color, #fff);
    opacity: var(--PianoKeyboard-text_opacity, 0.5);
  }

  .pianoTonic {
    fill: var(--PianoKeyboard-black_color, #fff);
    opacity: 0;
  }

  .pianoInfo {
    fill: var(--PianoKeyboard-black_color, #fff);
    opacity: var(--PianoKeyboard-text_opacity, 0.5);
  }
}

.note.white {
  .pianoKey {
    fill: var(--PianoKeyboard-white_background, #fff);
  }

  .pianoKeyName {
    fill: var(--PianoKeyboard-white_color, #000);
    opacity: var(--PianoKeyboard-text_opacity, 0.5);
  }

  .pianoTonic {
    fill: var(--PianoKeyboard-white_color, #000);
    opacity: 0;
  }

  .pianoInfo {
    fill: var(--PianoKeyboard-white_color, #000);
    opacity: var(--PianoKeyboard-text_opacity, 0.5);
  }
}

.note {
  &:global(.played) {
    .pianoKey {
      fill: var(--PianoKeyboard-played_background, #f00);
      transition: fill ease 0s;
    }

    .pianoKeyName,
    .pianoInfo,
    .pianoTonic {
      fill: var(--PianoKeyboard-played_color, #fff);
    }
  }

  &:global(.sustained) {
    .pianoKey {
      fill: var(--PianoKeyboard-sustained_background, #777);
    }

    .pianoKeyName,
    .pianoInfo,
    .pianoTonic {
      fill: var(--PianoKeyboard-sustained_color, #fff);
    }
  }

  &:global(.tonic.played) .pianoTonic,
  &:global(.info.played) .pianoInfo {
    opacity: 1;
  }
}

.pianoLabel:global(.labelled) {
  opacity: 1;
  transform: translateY(0);
  transition: transform ease 0s, opacity ease 0s;
}
