@import 'tokens';

.keyboard {
  vertical-align: bottom;
  width: 100%;
  height: 100%;
  user-select: none;
  will-change: contents;
}

.pianoKey {
  stroke: $color-neutral-darker;
  transition: fill ease var(--PianoKeyboard-fadeOut_duration, 0s);
}

.pianoInfo {
  font-size: 10px;
  font-weight: bold;
}

.pianoKeyName {
  font-size: 12px;
}

.pianoLabel {
  font-size: 12px;
  fill: currentColor;
  opacity: 0;
  transform: translateY(18px);
  transition:
    transform ease var(--PianoKeyboard-fadeOut_duration, 0s),
    opacity ease var(--PianoKeyboard-fadeOut_duration, 0s);
}

.note.black {
  .pianoKey {
    fill: var(--PianoKeyboard-black_background, #000000);
  }

  .pianoKeyName {
    fill: var(--PianoKeyboard-black_color, #ffffff);
    opacity: var(--PianoKeyboard-text_opacity, 0.5);
  }

  .pianoTonic {
    fill: var(--PianoKeyboard-black_color, #ffffff);
    opacity: 0;
  }

  .pianoInfo {
    fill: var(--PianoKeyboard-black_color, #ffffff);
    opacity: var(--PianoKeyboard-text_opacity, 0.5);
  }
}

.note.white {
  .pianoKey {
    fill: var(--PianoKeyboard-white_background, #ffffff);
  }

  .pianoKeyName {
    fill: var(--PianoKeyboard-white_color, #000000);
    opacity: var(--PianoKeyboard-text_opacity, 0.5);
  }

  .pianoTonic {
    fill: var(--PianoKeyboard-white_color, #000000);
    opacity: 0;
  }

  .pianoInfo {
    fill: var(--PianoKeyboard-white_color, #000000);
    opacity: var(--PianoKeyboard-text_opacity, 0.5);
  }
}

.note {
  &:global(.tonic.played) .pianoTonic,
  &:global(.info.played) .pianoInfo {
    opacity: 1;
  }

  &:global(.wrapSustained),
  &:global(.sustained) {
    .pianoKey {
      fill: var(--PianoKeyboard--sustained_background, #808080);
    }

    .pianoKeyName,
    .pianoInfo,
    .pianoTonic {
      fill: var(--PianoKeyboard--sustained_color, #ffffff);
    }
  }

  &:global(.wrapPlayed) {
    .pianoKey {
      fill: var(--PianoKeyboard--wrapPlayed_background, #800000);
      transition: fill ease 0s;
    }

    .pianoKeyName,
    .pianoInfo,
    .pianoTonic {
      fill: var(--PianoKeyboard--wrapPlayed_color, #ffffff);
    }
  }

  &:global(.played) {
    .pianoKey {
      fill: var(--PianoKeyboard--played_background, #ff0000);
      transition: fill ease 0s;
    }

    .pianoKeyName,
    .pianoInfo,
    .pianoTonic {
      fill: var(--PianoKeyboard--played_color, #ffffff);
    }
  }
}

.pianoLabel:global(.labelled) {
  opacity: 1;
  transform: translateY(0);
  transition: transform ease 0s, opacity ease 0s;
}

// VARIANTS

.--withTargets {
  .white:global(.target) {
    .pianoKey {
      fill: $color-neutral-lighter;
    }

    .pianoKeyName,
    .pianoInfo,
    .pianoTonic {
      fill: $color-neutral-dark;
    }
  }

  .black:global(.target) {
    .pianoKey {
      fill: $color-neutral-normal;
    }

    .pianoKeyName,
    .pianoInfo,
    .pianoTonic {
      fill: $color-white;
    }
  }

  .note {
    &:global(.exactTarget) {
      .pianoKey {
        fill: $color-primary-normal;
      }

      .pianoKeyName,
      .pianoInfo,
      .pianoTonic {
        fill: $color-white;
      }
    }

    &:global(.exactWrapTarget) {
      .pianoKey {
        fill: $color-primary-dark;
      }

      .pianoKeyName,
      .pianoInfo,
      .pianoTonic {
        fill: $color-white;
      }
    }

    &:global(.wrapPlayed)  {
      .pianoKey {
        fill: $color-danger-dark;
      }

      .pianoKeyName,
      .pianoInfo,
      .pianoTonic {
        fill: $color-white;
      }
    }

    &:global(.played)  {
      .pianoKey {
        fill: $color-danger-normal;
      }

      .pianoKeyName,
      .pianoInfo,
      .pianoTonic {
        fill: $color-white;
      }
    }


    &:global(.wrapTarget.wrapPlayed),
    &:global(.target.wrapPlayed) {
      .pianoKey {
        fill: $color-success-dark;
      }

      .pianoKeyName,
      .pianoInfo,
      .pianoTonic {
        fill: $color-white;
      }
    }

    &:global(.exactTarget.played),
    &:global(.target.played) {
      .pianoKey {
        fill: $color-success-normal;
      }

      .pianoKeyName,
      .pianoInfo,
      .pianoTonic {
        fill: $color-white;
      }
    }
  }
}
