@import 'variables';

$FormField_padding: $View_padding 0 !default;
$FormField-label_height: 42px !default;
$FormField-label_padding: 13px 0 !default;
$FormField-field_gap: 16px !default;

.base {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: $FormField_padding;
  width: 100%;
}

.label {
  display: flex;
  flex-direction: column;
  min-height: $FormField-label_height;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 1;
  flex-grow: 1;
  min-height: 42px;
}

.name {
  text-transform: uppercase;
}

.hint {
  font-size: 0.8em;
  color: $color-neutral-light;
}

.control {
  flex-shrink: 0;
  margin-left: $FormField-field_gap;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}
