@import 'variables.scss';

$Link_color: $color-primary-light  !default;
$Link--hover_color: lighten($color-primary-light, 10%) !default;
$Link--active_color: $color-primary-normal  !default;

.base {
  color: $Link_color;

  &:hover,
  &:focus {
    color: $Link--hover_color;
  }

  &:active {
    color: $Link--active_color;
  }
}
