@import 'variables';

$View_ChordDisplay_padding: $View_padding !default;
$View_ChordDisplay_textShadow: 0 0.05em 0.1em rgba($color-black, 0.6) !default;

.base {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-shrink: 1;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: hidden;
}

.notation {
  flex-grow: 0;
  flex-shrink: 0;
  padding: 16px;
  height: 60vh;

  &--withChord {
    max-width: 30vw;
  }
}

.chord {
  display: flex;
  font-size: 10vw;
  overflow: hidden;
  flex-grow: 1;
  flex-shrink: 1;
  align-items: center;
  justify-content: center;
  text-shadow: $View_ChordDisplay_textShadow;

  &--withNotation {
    font-size: 8vw;
  }
}

.alternativeChords {
  position: absolute;
  top: 0;
  right: 0;
  padding: 6px;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  text-shadow: $View_ChordDisplay_textShadow;
}

.notes {
  height: 7vh;
  text-align: center;
  padding: 2vh;
  font-size: 3vh;
  margin-top: 0;
  margin-bottom: 0;
  flex-grow: 0;
  flex-shrink: 0;
  text-shadow: $View_ChordDisplay_textShadow;
}

.note {
  margin: 0 0.25em;
}

.keyboard {
  width: 100%;
  flex-shrink: 0;
  flex-grow: 0;
  max-height: 100%;

  &--withChord,
  &--withNotation {
    max-height: 40vh;
  }
}

.intervals {
  font-size: min(2vh, 3vw);
}
