@import 'tokens';

.base {
  height: 100%;
  display: flex;
}

.sidebar {
  --Sidebar_minSize: 210px;
  display: flex;
  flex-direction: column;
}

.navigation {
  flex-grow: 1;
  --Button_textAlign: left;
}

.footer {
  flex-shrink: 0;
  margin-top: auto;
  justify-content: center;
  font-size: 0.8em;
  color: $color-neutral-normal;
}

.content {
  flex-grow: 1;
  flex-shrink: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.label {
  flex-grow: 1;
}

@media #{$breakpoint-md} {
  .sidebar {
    --Sidebar_minSize: $size-md;
  }

  .label {
    display: none;
  }
}
