@import 'variables';

$View_SettingsCredits_padding: $View_padding !default;

.base {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $View_SettingsCredits_padding;
}

.header {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  margin-bottom: 32px;
}

.image {
  width: min(256px, 30vh);
  height: min(256px, 30vh);
}

.introduction {
  max-width: 640px;
}

.table {
  margin-bottom: auto;

  td,
  th {
    padding: 4px;
    border-bottom: 1px solid $color-neutral-dark;
  }

  td:nth-child(1),
  th:nth-child(1) {
    text-align: left;
    word-break: keep-all;
  }

  td:nth-child(3) {
    text-align: center;
  }
}
