@import 'tokens';

.base {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6em;
}

.interval {
  background: $color-neutral-dark $gradient-interactive;

  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 2.5em;
  font-size: 0.8em;
  height: 50%;
  background-color: $color-neutral-darker;
  transition: height 0.2s cubic-bezier(0.5, 0, 0.33, 3);
  line-height: 1em;
  gap: 0.5em
}

@for $i from 0 through 4 {
  .interval--played-#{$i} {
    height: calc(50% + $i * 10%);
  }
}

.interval--target {
  font-weight: bold;
  background-color: $color-neutral-normal;
}

.interval--active {
  background-color: $color-primary-normal;
}

.interval--played {
  font-weight: bold;
  background-color: $color-primary-normal;
}

.base--withTargets {
  .interval--played {
    background-color: $color-danger-dark;
  }

  .interval--target.interval--played {
    background-color: $color-success-dark;
  }

  .interval--active {
    background-color: $color-primary-normal;
  }

  .interval--target.interval--active {
    background-color: $color-success-normal;
  }
}
