@import 'tokens';

.container {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
}

.pitchbar {
  --Sidebar_minSize: 48px;
  --Button_textTransform: none;
}

.content {
  height: 100%;
}

.chordbar {
  --Sidebar_minSize: 200px;
}

.chordnav {
  height: 100%;
}

.menuTrigger {
  width: 248px;
}

.item {
  --List-item_textTransform: none;

  &--isDisabled {
    opacity: 0.5;
  }
}

.item, .group {
  margin-left: calc(var(--TreeView_depth) * var(--TreeView-item_depthIndent, 6px));
  padding-left: 12px;
  width: auto;
}
