@import 'tokens';

.keyboard {
  vertical-align: bottom;
  width: 100%;
  height: 100%;
  user-select: none;
  will-change: contents;
}

.pianoKeyBackground {
  stroke-opacity: 0.3;
}

.pianoInfo {
  font-size: 10px;
  font-weight: bold;
}

.pianoLabel {
  font-size: 16px;
  letter-spacing: -1px;
  fill: currentColor;
  opacity: 0;
  transform: translateY(18px);
  transition: transform ease var(--PianoKeyboard-fadeOut_duration, 0s), opacity ease var(--PianoKeyboard-fadeOut_duration, 0s);
}

.note.black {
  .pianoKeyBackground {
    fill: var(--PianoKeyboard-black_background, #000000);
    stroke: var(--PianoKeyboard-black_color, #ffffff);
    transition: fill ease var(--PianoKeyboard-fadeOut_duration, 0s);
  }

  .pianoKey {
    fill: url(#blackKey);
    opacity: 1;
    transition: opacity ease var(--PianoKeyboard-fadeOut_duration, 0s);
  }

  .pianoKeyName {
    font-size: 10px;
    fill: var(--PianoKeyboard-black_color, #ffffff);
    opacity: var(--PianoKeyboard-text_opacity, 0.5);
  }

  .pianoTonic {
    fill: var(--PianoKeyboard-black_color, #ffffff);
    opacity: 0;
  }

  .pianoInfo {
    fill: var(--PianoKeyboard-black_color, #ffffff);
    opacity: var(--PianoKeyboard-text_opacity, 0.5);
  }
}

.note.white {
  .pianoKeyBackground {
    fill: var(--PianoKeyboard-white_background, #ffffff);
    stroke: var(--PianoKeyboard-white_color, #ffffff);
    transition: fill ease var(--PianoKeyboard-fadeOut_duration, 0s);
  }

  .pianoKey {
    fill: url(#whiteKey);
    opacity: 1;
    transition: opacity ease var(--PianoKeyboard-fadeOut_duration, 0s);
  }

  .pianoKeyName {
    font-size: 12px;
    fill: var(--PianoKeyboard-white_color, #000000);
    opacity: var(--PianoKeyboard-text_opacity, 0.5);
  }

  .pianoTonic {
    fill: var(--PianoKeyboard-white_color, #000000);
    opacity: 0;
  }

  .pianoInfo {
    fill: var(--PianoKeyboard-white_color, #000000);
    opacity: var(--PianoKeyboard-text_opacity, 0.5);
  }
}

/* STATES */

.note
{
  &:global(.tonic.played) .pianoTonic,
  &:global(.info.played) .pianoInfo {
    opacity: 1;
  }

  &:global(.wrapSustained),
  &:global(.sustained) {
    .pianoKeyBackground {
      fill: var(--PianoKeyboard--sustained_background, #808080);
      stroke: var(--PianoKeyboard--sustained_color, #ffffff);
    }

    .pianoKeyName,
    .pianoInfo,
    .pianoTonic {
      fill: var(--PianoKeyboard--sustained_color, #ffffff);
    }
  }

  &:global(.wrapPlayed) {
    .pianoKeyBackground {
      fill: var(--PianoKeyboard--wrapPlayed_background, #800000);
      stroke: var(--PianoKeyboard--wrapPlayed_color, #ffffff);
      transition: fill ease 0s;
    }

    .pianoKey {
      fill: none;
      opacity: 0;
      transition: opacity ease 0s;
    }

    .pianoKeyName,
    .pianoInfo,
    .pianoTonic {
      fill: var(--PianoKeyboard--wrapPlayed_color, #ffffff);
    }
  }

  &:global(.played)  {
    .pianoKeyBackground {
      fill: var(--PianoKeyboard--played_background, #ff0000);
      stroke: var(--PianoKeyboard--played_color, #ffffff);
      transition: fill ease 0s;
    }

    .pianoKey {
      fill: none;
      opacity: 0;
      transition: opacity ease 0s;
    }

    .pianoKeyName,
    .pianoInfo,
    .pianoTonic {
      fill: var(--PianoKeyboard--played_color, #ffffff);
    }
  }
}

.pianoLabel:global(.labelled) {
  opacity: 1;
  transform: translateY(0);
  transition: transform ease 0s, opacity ease 0s;
}
