@import 'tokens';

.keyboard {
  vertical-align: bottom;
  width: 100%;
  height: 100%;
  user-select: none;
  will-change: contents;
}

.pianoKeyBackground {
  stroke-opacity: 0.3;
}

.pianoInfo {
  font-size: 10px;
  font-weight: bold;
}

.pianoLabel {
  font-size: 16px;
  letter-spacing: -1px;
  fill: currentColor;
  opacity: 0;
  transform: translateY(18px);
  transition: transform ease var(--PianoKeyboard-fadeOut_duration, 0s), opacity ease var(--PianoKeyboard-fadeOut_duration, 0s);
}

.note.black {
  .pianoKeyBackground {
    fill: var(--PianoKeyboard-black_background, $color-black);
    stroke: var(--PianoKeyboard-black_color, $color-white);
    transition: fill ease var(--PianoKeyboard-fadeOut_duration, 0s);
  }

  .pianoKey {
    fill: url(#blackKey);
    opacity: 1;
    transition: opacity ease var(--PianoKeyboard-fadeOut_duration, 0s);
  }

  .pianoKeyName {
    font-size: 10px;
    fill: var(--PianoKeyboard-black_color, $color-white);
    opacity: var(--PianoKeyboard-text_opacity, 0.5);
  }

  .pianoTonic {
    fill: var(--PianoKeyboard-black_color, $color-white);
    opacity: 0;
  }

  .pianoInfo {
    fill: var(--PianoKeyboard-black_color, $color-white);
    opacity: var(--PianoKeyboard-text_opacity, 0.5);
  }
}

.note.white {
  .pianoKeyBackground {
    fill: var(--PianoKeyboard-white_background, $color-white);
    stroke: var(--PianoKeyboard-white_color, $color-white);
    transition: fill ease var(--PianoKeyboard-fadeOut_duration, 0s);
  }

  .pianoKey {
    fill: url(#whiteKey);
    opacity: 1;
    transition: opacity ease var(--PianoKeyboard-fadeOut_duration, 0s);
  }

  .pianoKeyName {
    font-size: 12px;
    fill: var(--PianoKeyboard-white_color, $color-black);
    opacity: var(--PianoKeyboard-text_opacity, 0.5);
  }

  .pianoTonic {
    fill: var(--PianoKeyboard-white_color, $color-black);
    opacity: 0;
  }

  .pianoInfo {
    fill: var(--PianoKeyboard-white_color, $color-black);
    opacity: 0;
  }
}

/* STATES */

.note
{

  &:global(.tonic) .pianoTonic {
    opacity: var(--PianoKeyboard-text_opacity, 0.5);
  }

  &:global(.info) .pianoInfo {
    opacity: var(--PianoKeyboard-text_opacity, 0.5);
  }

  &:global(.tonic.played) .pianoTonic,
  &:global(.info.played) .pianoInfo {
    opacity: 1;
  }

  &:global(.wrapSustained),
  &:global(.sustained) {
    .pianoKeyBackground {
      fill: var(--PianoKeyboard--sustained_background, $color-neutral-normal);
      stroke: var(--PianoKeyboard--sustained_color, $color-white);
    }

    .pianoKeyName,
    .pianoInfo,
    .pianoTonic {
      fill: var(--PianoKeyboard--sustained_color, $color-white);
    }
  }

  &:global(.wrapPlayed) {
    .pianoKeyBackground {
      fill: var(--PianoKeyboard--wrapPlayed_background, $color-primary-dark);
      stroke: var(--PianoKeyboard--wrapPlayed_color, $color-white);
      transition: fill ease 0s;
    }

    .pianoKey {
      fill: none;
      opacity: 0;
      transition: opacity ease 0s;
    }

    .pianoKeyName,
    .pianoInfo,
    .pianoTonic {
      fill: var(--PianoKeyboard--wrapPlayed_color, $color-white);
    }
  }

  &:global(.played)  {
    .pianoKeyBackground {
      fill: var(--PianoKeyboard--played_background, $color-primary-normal);
      stroke: var(--PianoKeyboard--played_color, $color-white);
      transition: fill ease 0s;
    }

    .pianoKey {
      fill: none;
      opacity: 0;
      transition: opacity ease 0s;
    }

    .pianoKeyName,
    .pianoInfo,
    .pianoTonic {
      fill: var(--PianoKeyboard--played_color, $color-white);
    }
  }
}

.pianoLabel:global(.labelled) {
  opacity: 1;
  transform: translateY(0);
  transition: transform ease 0s, opacity ease 0s;
}

// VARIANTS

.--withTargets {
  .white:global(.target) {
    .pianoKeyBackground {
      fill: $color-neutral-lighter;
      stroke: $color-neutral-dark;
    }

    .pianoKeyName,
    .pianoInfo,
    .pianoTonic {
      fill: $color-neutral-dark;
    }
  }

  .black:global(.target) {
    .pianoKeyBackground {
      fill: $color-neutral-normal;
      stroke: $color-black;
    }

    .pianoKeyName,
    .pianoInfo,
    .pianoTonic {
      fill: $color-white;
    }
  }

  .note {
    &:global(.exactTarget) {
      .pianoKeyBackground {
        fill: $color-primary-normal;
      }

      .pianoKeyName,
      .pianoInfo,
      .pianoTonic {
        fill: $color-white;
      }
    }

    &:global(.wrapExactTarget) {
      .pianoKeyBackground {
        fill: $color-primary-dark;
      }

      .pianoKeyName,
      .pianoInfo,
      .pianoTonic {
        fill: $color-white;
      }
    }

    &:global(.wrapPlayed)  {
      .pianoKeyBackground {
        fill: $color-danger-dark;
        stroke: $color-white;
      }

      .pianoKeyName,
      .pianoInfo,
      .pianoTonic {
        fill: $color-white;
      }
    }

    &:global(.played)  {
      .pianoKeyBackground {
        fill: $color-danger-normal;
        stroke: $color-white;
      }

      .pianoKeyName,
      .pianoInfo,
      .pianoTonic {
        fill: $color-white;
      }
    }


    &:global(.wrapExactTarget.wrapPlayed),
    &:global(.target.wrapPlayed) {
      .pianoKeyBackground {
        fill: $color-success-dark;
        stroke: $color-white;
      }

      .pianoKeyName,
      .pianoInfo,
      .pianoTonic {
        fill: $color-white;
      }
    }

    &:global(.exactTarget.played),
    &:global(.target.played) {
      .pianoKeyBackground {
        fill: $color-success-normal;
        stroke: $color-white;
      }

      .pianoKeyName,
      .pianoInfo,
      .pianoTonic {
        fill: $color-white;
      }
    }
  }
}
