@import 'tokens';


.base {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: $space-lg;

  ul {
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 2em;
  }
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  gap: $space-md;
  margin-bottom: $space-lg;
}

.logo {
  width: min(96px, 16vh);
  margin: $space-lg;
}

.appname {
  margin: 0;
  font-weight: bold;
  font-size: 24px;
}

.version {
  vertical-align: middle;
}

.author {
  font-style: italic;
}

.title {
  display: flex;
  margin: $space-lg 0;
  text-transform: uppercase;
  width: 100%;
  align-items: center;
  gap: $space-md;

  &::before, &::after {
    content: " ";
    flex-grow: 1;
    flex-basis: 0;
    border-bottom: 1px solid $color-neutral-normal;
  }

}

.description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: $space-md;
  padding: $space-md;
  width: 100%;
}

.loopMidi {
  font-style: italic;
}
