@import 'variables';

$View_GeneralSettings_padding: $View_padding !default;

.base {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.group {
  max-width: 480px;
  margin: auto;
  &--disabled {
    opacity: 0.5;
  }
}

.container {
  @include customScrollBar();
  flex-grow: 1;
  padding: $View_GeneralSettings_padding;
  overflow-y: auto;
  width: 100%;
}
