@import 'tokens';

.state {
  width: 100%;
  font-weight: bold;
  background: $color-neutral-dark;

  &.isError {
    background: $color-danger-normal;
  }

  &.isStarted {
    background: $color-success-normal;
  }

  a {
    text-decoration: underline;
    color: $color-white;
  }
}
