@import 'variables';

$Toolbar_background: $color-neutral-dark !default;
$Toolbar_boxShadow: 0 4px 32px -8px rgba($color-black, 0.6) !default;
$Toolbar--bottom_boxShadow: 0 -4px 32px -8px rgba($color-black, 0.6) !default;

.base {
  width: 100%;
  display: flex;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;
  background: $color-neutral-dark;
  box-shadow: $Toolbar_boxShadow;
  z-index: 10;

  > * {
    box-shadow: none;
  }

  &--bottom {
    box-shadow: $Toolbar--bottom_boxShadow;
  }
}
