@import 'tokens';

$View_ChordQuiz_textShadow: 0 0.05em 0.1em rgba($color-black, 0.6) !default;

@keyframes swipe {
  0% {
    margin-right: -10%;
  }

  100% {
    margin-right: 0;
  }
}

.base {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/** Containers **/

.topContainer {
  position: relative;
  width: 100%;
  flex-basis: 0px;
  flex-grow: 1;
  flex-shrink: 0;
}

.playedContainer {
  flex-direction: column;
  flex-basis: 0px;
  flex-grow: 1;
  flex-shrink: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  > * {
    height: 2em;
  }
}

.chordContainer {
  position: relative;
  height: min(20vw, 50vh);
  width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.intervalsContainer {
  font-size: min(3vw, 3vh);
}

/** Top Section **/

.reactionContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gameList {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
}

/** Chord section **/

.chord {
  position: absolute;
  top: 0;
  bottom: 0;
  transition: all 0.5s ease, color 0.1s cubic-bezier(0.5, 0, 0.33, 3),
    transform 0.3s linear;
  transition-delay: 0s, 0s, 0s;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: $View_ChordQuiz_textShadow;
}

.targetChord {
  width: 100%;
  right: 0;
  font-size: min(20vh, 10vw);
  opacity: 1;
  transform: perspective(3em) rotateY(0deg);
}

.nextChord {
  width: 15%;
  right: 5%;
  font-size: 3vw;
  opacity: 0.8;
  animation: swipe 0.3s ease 1;
  transform: perspective(3em) rotateY(-36deg);
}

.prevChord {
  width: 15%;
  left: 0;
  right: auto;
  font-size: 2vw;
  opacity: 0;
  transform: perspective(3em) rotateY(36deg);
  transition-delay: 0s, 0s, 0.1s;
}

.status--none {
  color: $color-white;
}

.status--different {
  color: $color-secondary-normal;
}

.status--subset {
  color: $color-warning-normal;
}

.status--equal {
  color: $color-success-normal;
}

.status--superset {
  color: $color-primary-light;
}

.progress {
  font-size: min(2vh, 2vw);
  font-weight: bold;
}

/** Played Section **/

.score {
  font-size: min(3vh, 3vw);
  font-family: 'Rocher';
  font-variation-settings: 'BVEL' 50, 'SHDW' 50;
  font-palette: --Rocher--white;
}

.playedChord {
  display: flex;
  font-size: min(2vh, 2vw);
  overflow: hidden;
  flex-grow: 0;
  flex-shrink: 1;
  align-items: center;
  justify-content: center;
  text-shadow: $View_ChordQuiz_textShadow;
}
