@import 'tokens';

.base {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: $space-lg;
  flex-grow: 1;

  --Card-thumbnail_aspectRatio: 640/429;
}
