@import 'variables';

.root {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.circle {
  flex-shrink: 0;
  will-change: contents;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: 25%;
  margin-top: -12.5%;
  margin-left: -12.5%;
  border-radius: 50%;
  overflow: hidden;
  aspect-ratio: 1 / 1;
}

// Circle of Fifths classes

.wheel {
  fill: $color-neutral-dark;
}

.name {
  fill: rgba($color-white, 0.5);
}

.badge {
  fill: rgba(0, 0, 0, 0.3);
}

.sector {
  fill: $color-neutral-normal;
  stroke: $color-neutral-darker;
}

.followPath {
  fill: none;
  stroke: none;
}

// DEGREES

.degreeLabels {
  pointer-events: none;
}

.degreeLabel {
  font-family: serif;
  font-weight: bold;
  fill: rgba($color-white, 0.5);
}

.degreeTitle {
  .degreeSection {
    fill: $color-neutral-dark;
  }

  text {
    fill: $color-white;
  }
}

.degree {
  text {
    fill: $color-neutral-darker;
  }
}

// MODES

.mode {
  text {
    fill: $color-white;
  }
}

.modeSeparator {
  stroke: $color-white;
  stroke-width: 0.1;
}

// ALTERATIONS

.alterations {
  text {
    fill: rgba($color-white, 0.5);
  }

  &--selected {
    > .alteration--selected {
      fill: $color-white;
    }
  }
}

// DOMINANTS

.dominants {
  text {
    fill: rgba($color-white, 0.5);
  }

  &--selected {
    text {
      fill: $color-white;
    }
  }
}

.dominant--isInScale {
  .sector {
    fill: $color-primary-dark;
  }
}

// Section variants

.key--isMainSection {
  .sector {
    fill: $color-neutral-light;
  }
}

.key.key--isInScale {
  .sector {
    fill: $color-primary-dark;
  }
}

.key.key--selected {
  pointer-events: none;
  .name {
    fill: $color-white;
  }
}

.key.key--multiple {
  pointer-events: all;

  &.key--selected {
    .name {
      fill: rgba($color-white, 0.5);

      &--selected {
        fill: $color-white;
        font-weight: bold;
      }
    }
  }
}

.key--major {
  &.key--selected {
    .sector {
      fill: $color-primary-normal;
    }
  }
}

.key--minor {
  &.key--selected {
    .sector {
      fill: $color-primary-normal;
    }
  }
}

.key--diminished {
  .sector {
    fill: $color-neutral-dark;
  }

  &.key--selected {
    .sector {
      fill: $color-primary-normal;
    }
  }
}

.key--suspended {
  pointer-events: none;
  .sector {
    fill: $color-neutral-normal;
  }

  &.key--selected {
    .sector {
      fill: $color-primary-normal;
    }
  }
}

// Chord play

.dominant.dominant--active {
  .sector {
    fill: $color-success-normal;
  }
}

.key.key--active {
  .sector {
    fill: $color-success-normal;
  }
}

// Interactive

.root--interactive {
  .key {
    cursor: pointer;

    &:hover,
    &.key--isInScale:hover {
      .sector {
        fill: $color-primary-light;
      }
    }
  }
}

// Transition

.wheel--isRotating {
  transition: transform 0.7s ease;

  .name {
    transition: transform 0.7s ease;
  }
}
