@import 'variables';

$Menu_background: lighten($color-neutral-darker, 5%) !default;

.base {
  background: $Menu_background;

  > * {
    order: 1;
    flex-basis: content;
    flex-grow: 0;
  }

  .icon {
    flex-grow: 0;
    flex-shrink: 0;
    padding: 0;
  }
}

.title {
  -webkit-app-region: drag;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 16px;
  flex-grow: 1;
}

.base--isMac {
  .title {
    padding-left: 72px;
  }
}

.homeButton {
  -webkit-app-region: no-drag;
  display: flex;
  border-radius: 2px;
  transition: $transition_medium;
  outline: none;

  &:focus-visible,
  &:hover {
    background-color: rgba(white, 0.7);
  }
}

.logo {
  width: 32px;
  height: 32px;
}

.appName {
  font-size: 16px;
  line-height: 1em;
  padding: 0;
  margin: auto 8px;
}

.button {
  white-space: nowrap;
}

.trafficLights {
  margin-left: 8px;
}

@media #{$breakpoint--small} {
  .button {
    flex-grow: 0;
  }

  .appName,
  .label {
    display: none;
  }
}
