@import 'variables';

.base {
  & + & {
    border-top: 0;
  }
}

.header {
  appearance: none;
  color: $color-white;
  background: transparent;
  display: flex;
  align-items: center;
  width: 100%;
  border: none;
  border-bottom: 1px solid $color-neutral-dark;
}

.icon {
  font-size: 10px;
}
