@import 'variables';

$View_SettingsChordDisplay_padding: $View_padding !default;

.base {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.container {
  @include customScrollBar();
  flex-grow: 1;
  padding: $View_SettingsChordDisplay_padding;
  overflow-y: auto;
  width: 100%;
}

.noSettings {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  width: 100%;
}

.header {
  justify-content: center;
}

.group {
  + .group {
    border-top: 1px solid $color-neutral-normal;
  }

  &--useInternal {
    opacity: 0.5;
  }
}
