@import 'tokens';

.itemHandle {
  width: 32px;
}

.packageHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.packageVersion {
  font-style: italic;
}

.packageUrl {
  flex-shrink: 0;
}

.packageText {
  font-size: 12px;
  white-space: pre-wrap;
  margin: 0;
}
